
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340)">
My watching list
</div>

<div class="container">
  <div class="row">
  <% @lists.each do |list| %>
    <div class="col-4">
      <%# <%= link_to list.name, list_path(list) %>
      <%= link_to list_path(list) do %>
        <div class="cards">
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
            <%= list.name %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  </div>
</div>

